<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng ban</title>
    <%- include partial/cdn.ejs %>
    <style>
        .addDepartment {
            background-color: #ECEDF1;
        }

        .addDepartment .breadcrumb {
            background-color: #fff;
        }

        .addDepartment .breadcrumb a {
            color: #007bff;
        }

        .addDepartment .breadcrumb a:hover {
            text-decoration: underline;
        }

        .addDepartment .signup-content {
            box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 5%);
            -moz-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
            -webkit-box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 5%);
            padding: 75px 0;
            background-color: #fff;
            border-radius: 15px;
            display: flex;
            min-width: 150px;

        }
        .addDepartment .signup-content .row{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        input{
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #999;
            padding: 6px 30px;
            font-family: Poppins;
            box-sizing: border-box;
            outline: none;
        }

        .signup-image img{
            width: 100%;
            object-fit: contain;
        }

        .signup-image figure{
            position: sticky;
            top: 200px;
            width: 100%;
            padding: 20px 0;
        }
        .form-submit{
            padding: 15px 35px;
        }
        .form-group{
            position: relative;
        }
        .form-group i{
            position: absolute;
            bottom: 10px;
            left: 7px;
        }
        .form-check-input{
            margin: 7px 12px;
            width: 30px;
            position: absolute;
            right: 0;

        }

    </style>
</head>

<body class="addDepartment">
    
    <%- include partial/header-leftbar.ejs %>
    <div class="container mx-auto">
        <div class="gap2 pr-2 pl-2">
            
            <div aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="../department">Danh sách phòng ban</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thêm phòng ban</li>
                </ol>
            </div>
            <div class="signup-content">
                <div class="row">
                    <div class="signup-image col-sm-5 ">
                        <figure><img src="/images/pexels-mateusz-dach-2811648.jpg" alt="sing up image"></figure>

                    </div>
                    <div class="signup-form col-sm-7 pr-5 pl-5">
                        <h2 class="form-title">Tạo mới phòng ban</h2>

                        <form method="POST" class="register-form" id="register-form" autocomplete="off">
                            <div class="form-group">
                                <label for="username"><i class="far fa-user"></i></label>
                                <input type="text" name="username" id="username" placeholder="Tên đăng nhập">
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="fas fa-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Mật khẩu">
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="fas fa-lock"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Xác nhận mật khẩu">
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="fas fa-file-signature"></i></label>
                                <input type="text" name="name" id="name" placeholder="Tên phòng">
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="fas fa-code-branch"></i></label>
                                <input type="text" name="maphong" id="maphong" placeholder="Mã phòng">
                            </div>

                            <div id="drag-drop-area"></div>
                            
                            <input type="hidden" name="urlImage"  id="urlImage"/>
                            <div class="row">
                                <h4 class="col-sm-12 p-0 pt-2 pb-2">Permission</h4>
                                <% department.forEach(function(item){ %>
                                    <div class="form-check col-xl-6 col-md-12 p-0">
                                        <input class="form-check-input w-a" type="checkbox" id="<%= item.id %>" name="department" value="<%= item.type %>">
                                        <label class="form-check-label" for="<%= item.id %>"><%= item.name %></label>
                                    </div>
                                <% }) %>
                            </div>
                            <div class="collapse mt-2" id="myCollapsible">
                                <div class="alert alert-success" role="alert">
                                    
                                </div>
                            </div>
                            <div class="form-group form-button ">
                                <button type="submit" id="signup" class="form-submit btn btn-outline-primary" >Register</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div>
    <script src="/javascripts/main.js"></script>
    <link href="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.css" rel="stylesheet">
    <script src="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajaxSetup({traditional: true});

            var uppy = Uppy.Core({
                restrictions: {
                    maxFileSize: 10000000,
                    maxNumberOfFiles:1,
                    minNumberOfFiles: 1,
                    allowedFileTypes: ["image/*"]
                }
            })
            .use(Uppy.Dashboard, {
                inline: true,
                target: '.addDepartment #drag-drop-area',
                replaceTargetContent: true,
                showProgressDetails: true,
                note: 'Images and video only 1 file, up to 10MB',
                height: 300,
            })
            .use(Uppy.GoogleDrive, { target: Uppy.Dashboard, companionUrl: 'https://companion.uppy.io' })
            .use(Uppy.Tus, {endpoint: 'https://master.tus.io/files/'}) //you can put upload URL here, where you want to upload images
            uppy.on('complete', (result) => {
                result.successful.map(e =>{
                    $('.addDepartment #urlImage').val(e.uploadURL)
                })
                
            })
            $(".addDepartment .register-form").submit(e=>{
                e.preventDefault();
                let department =[]
                $(".addDepartment input:checkbox:checked").each(function() { 
                    department.push($(this).val()); 
                }); 
                let user ={
                    username:$('.addDepartment #username').val(),
                    pass:$('.addDepartment #pass').val(),
                    re_pass:$('.addDepartment #re_pass').val(),
                    name:$('.addDepartment #name').val(),
                    maphong:$('.addDepartment #maphong').val(),
                    urlImage:$('.addDepartment #urlImage').val(),
                    department: department
                }
                $.post( "",user)
                .done(function( res ) {
                    if(res.success){
                        $(".addDepartment .alert").removeClass("alert-danger")
                        $(".addDepartment .alert").addClass("alert-success")
                        $(".addDepartment .alert").text(res.mess)
                        $('.addDepartment #myCollapsible').collapse('show')
                        $('.addDepartment input').val("")
                    }else{
                        $(".addDepartment .alert").removeClass("alert-success")
                        $(".addDepartment .alert").addClass("alert-danger")
                        $(".addDepartment .alert").text(res.mess)
                        $('.addDepartment #myCollapsible').collapse('show')
                    }
                });
                $('.addDepartment input').on("keypress change ",()=>{
                    $('.addDepartment #myCollapsible').collapse('hide')
                })
            })
        })
    </script>
</body>

</html>