<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng ban</title>
    <%- include partial/cdn.ejs %>
    <style>
        .notificationPage {
            background-color: #ECEDF1;
        }

        .notificationPage .list-group {
            max-height: 750px;
            margin-bottom: 10px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

        ul::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ul::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ul::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: #aa00ff;
            background-image: linear-gradient(to top, #aa00ff 0%, #3a73d5 100%);

        }

        /* Handle on hover */
        ul::-webkit-scrollbar-thumb:hover {
            background: #aa00ff;
        }

        .filter {
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 10px;
            height: 55%;
        }

        .jzdbox1 {
            width: 315px;
            background: #332f2e;
            border-radius: 5px;
            overflow: hidden;
            display: block;
            margin-bottom: 10px;
            box-shadow: 0 0 10px #201d1c;
            margin: 0 auto;
            margin-top: 100px;
        }

        .jzdcal {
            padding: 0 10px 10px 10px;
            box-sizing: border-box !important;
            background: #749d9e;
            background: -webkit-linear-gradient(#749d9e, #b3a68b) !important;
            background: -o-linear-gradient(#749d9e, #b3a68b) !important;
            background: -moz-linear-gradient(#749d9e, #b3a68b) !important;
            background: linear-gradient(#749d9e, #b3a68b) !important;
        }

        .jzdcalt {
            font: 18px 'Roboto';
            font-weight: 700;
            color: #f7f3eb;
            display: block;
            margin: 18px 0 0 0;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            position: relative;
        }

        .jzdcal span {
            font: 11px 'Roboto';
            font-weight: 400;
            color: #f7f3eb;
            text-align: center;
            width: 42px;
            height: 42px;
            display: inline-block;
            float: left;
            overflow: hidden;
            line-height: 40px;
        }

        .jzdcal .jzdb:before {
            opacity: 0.3;
            content: 'o';
        }

        .circle {
            border: 1px solid #f7f3eb;
            box-sizing: border-box !important;
            border-radius: 200px !important;
        }

        span[data-title]:hover:after,
        div[data-title]:hover:after {
            font: 11px 'Roboto';
            font-weight: 400;
            content: attr(data-title);
            position: absolute;
            margin: 0 0 100px;
            background: #282423;
            border: 1px solid #f7f3eb;
            color: #f7f3eb;
            padding: 5px;
            z-index: 9999;
            min-width: 150px;
            max-width: 150px;
        }
        .fa-arrow-left{
            position: absolute;
            left:10px;
            cursor: pointer;
            top:0
        }
        .fa-arrow-right{
            position: absolute;
            right:10px;
            cursor: pointer;
            top:0
        }
        .notificationPage a{
            cursor: pointer;
        }
        #editor {
            min-height: 10em !important;
            max-height: 35em !important;
            border: 1px solid rgba(0, 0, 0, .125);;
        }
        #editor:focus {
            border: 1px solid #0e7fe1
        }

        @import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
    </style>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/decoupled-document/ckeditor.js"></script>
</head>

<body class="notificationPage">
    <%- include partial/notification.ejs %>
    <%- include partial/header-leftbar.ejs %>
    <div class="container mx-auto">
        <div class="gap2 gap2 pr-2 pl-2 pb-0">
            <div aria-label="breadcrumb " class="mt-4">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item"><a href="../">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="../department">Danh sách phòng ban</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= departmentName.name %></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách thông báo 
                        <% if(isAdd){%>
                            <a data-toggle="modal" data-target="#modalAddNotification">
                                <i class="fas fa-plus-circle text-primary"></i>
                            </a>
                             <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" id="modalAddNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form id="formAddNotification" data-url ="<%=departmentName.type %>" data-author ="<%=departmentName.name %>" >
                                        <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="titleNotification">Tiêu đề thông báo</label>
                                                    <input type="text" class="form-control" id="titleNotification" placeholder="Tiêu đề">

                                                </div>
                                                <div id="toolbar-container"></div>

                                                <!-- This container will become the editable. -->
                                                <div  id="editor">
                                                    <textarea name="content" id="content_editor"></textarea>
                                                </div>
                                                <p class="messageAddNotification mb-0"></p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit"  class="btn btn-primary">Thêm</button>
                                        </div>
                                    </form>

                                </div>
                                </div>
                            </div>
                        <% } %>
                    </li>
                </ol>
            </div>
           
            <div class="row pt-1">
                <div class="col-lg-7 col-xl-8 col-md-12 col-sm-12">
                    <ul class="list-group rounded">
                        <% notification.forEach( item => { %>
                            <li class="list-group-item">
                                <a class="font-weight-bold" href="/notification/<%= maphong%>/<%= item._id %>"><%=item.title %></a>
                                <p class="font-italic">[<%=item.author %>] - <%=item.createAt %></p>
                            </li>
                        <% }) %>
                    </ul>

                </div>
                <div class="col-lg-5 col-xl-4 col-md-12 col-sm-12">
                    <div class="row ml-0 mr-0">
                        <div class="filter col-lg-12 col-md-6 p-4 bg-white">
                            <h4>Lọc thông báo</h4>
    
                            <form id="form_filter" method="post">
                                <div class="form-group">
                                    <label for="selectDepartment">Lọc theo phòng ban</label>
                                    <select name="phongban" class="form-control" id="selectDepartment">
                                        <option></option>
                                        <% department.forEach(function(item){ %>
                                            <option value="<%= item.type %>"><%= item.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="unread" id="unread" class="mt-3">
                                    <label class="form-check-label" for="unread">Thông báo chưa đọc</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label" for="beginDatepicker">Ngày bắt đầu</label>
                                    <input id="beginDatepicker" name="startDate" width="276" />
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label" for="endDatepicker">Ngày kết thúc</label>
                                    <input id="endDatepicker" width="276" name="endDate" />
                                </div>
                               
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </form>
    
                        </div>
                        <div class="mt-3 col-lg-12 col-md-6">
                            <div class="jzdbox1 jzdbasf jzdcal mt-0">
    
                                <div class="jzdcalt">
                                    <i class="fas fa-arrow-left"></i>
                                    <div class="month">asdsd</div>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
    
                                <span>Su</span>
                                <span>Mo</span>
                                <span>Tu</span>
                                <span>We</span>
                                <span>Th</span>
                                <span>Fr</span>
                                <span>Sa</span>
    
    
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span>1</span>
                                <span class="circle" data-title="My 25th birthday!">2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                                <span>11</span>
                                <span class="circle" data-title="2 month anniversary!">12</span>
                                <span>13</span>
                                <span>14</span>
                                <span>15</span>
                                <span>16</span>
                                <span>17</span>
                                <span>18</span>
                                <span>19</span>
                                <span>20</span>
                                <span>21</span>
                                <span class="circle" data-title="#MusicMonday - share your favorite song!">22</span>
                                <span>23</span>
                                <span>24</span>
                                <span>25</span>
                                <span>26</span>
                                <span>27</span>
                                <span>28</span>
                                <span>29</span>
                                <span>30</span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                                <span class="jzdb">
                                    <!--BLANK--></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <script src="/javascripts/main.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script>
        $(document).ready(function(){
            let months = ['January', 'February','March', 'April','May', 'June','July', 'August','September', 'October','November', 'December']
            let now =new Date();
            let indexMonth = now.getMonth()
            var thisMonthString = months[indexMonth];
            var thisyear =now.getFullYear()
            $('.notificationPage .month').text(thisMonthString+" "+thisyear)

            $('.notificationPage .fa-arrow-left').click(()=>{
                indexMonth = indexMonth-1
                if(indexMonth < 0){
                    indexMonth = 11;
                    thisyear = thisyear -1;
                }
                thisMonthString = months[indexMonth]
                $('.notificationPage .month').text(thisMonthString+" "+thisyear)
            })
            $('.notificationPage .fa-arrow-right').click(()=>{
                indexMonth = indexMonth+1
                if(indexMonth >= 12){
                    indexMonth = 0;
                    thisyear = thisyear + 1;
                }
                thisMonthString = months[indexMonth]
                $('.notificationPage .month').text(thisMonthString+" "+thisyear)
            })
            $(".notificationPage").ready(()=>{
                $('#beginDatepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    change: function (e) {
                        $('#beginDatepicker').attr('data-date',e.timeStamp)
                    }
                });
                $('#endDatepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    change: function (e) {
                        $('#endDatepicker').attr('data-date',e.timeStamp)
                    }
                });
                $(".notificationPage #form_filter").submit(e=>{
                    e.preventDefault()
                    const phongban = $("#selectDepartment").val()
                    const unread = $("#unread").is(":checked")
                    const beginDatepicker = $("#beginDatepicker").data('date') || ""
                    const endDatepicker = $("#endDatepicker").data('date') || ""
                    console.log(phongban, unread, beginDatepicker, endDatepicker)
                    
                })
            })
            if($(".notificationPage #editor")[0]){
                DecoupledEditor
            .create( document.querySelector( '.notificationPage #editor' ) )
            .then( editor => {
                const toolbarContainer = document.querySelector( '.notificationPage #toolbar-container' );

                toolbarContainer.appendChild( editor.ui.view.toolbar.element );
            } )
            .catch( error => {
                console.error( error );
            } );
            
            $("#formAddNotification").submit(e=>{
                e.preventDefault()
                let title = $("#titleNotification").val()
                let content = $("#editor").html().replace(`<p><br data-cke-filler="true"></p>`,"")
                let department =$("#formAddNotification").data('url');
                    try {
                        $.post( "/api/notification",{title:title, content:content, department:department}, function( data, status ) {
                            console.log(data)
                        if(data.data){
                            $("#formAddNotification input").val("")
                            $("#formAddNotification #editor").html(`<p><br data-cke-filler="true"></p>`)
                            $(".messageAddNotification").addClass('text-success').removeClass('text-danger').text("Thêm thông báo thành công ")
                            
                        }else{

                            let errmessage = data.message.msg || data.message
                            $(".messageAddNotification").addClass('text-danger').removeClass('text-success').text("Thêm thông báo thất bại: "+ errmessage)
                        }
                    });
                    } catch (error) {
                        console.log(error)
                        $(".messageAddNotification").addClass('text-danger').removeClass('text-success').text("Thêm thông báo thất bại")
                    }
                   
            })
            }
            
        })
    </script>
</body>

</html>